<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Alkanza Test</a>
    </div>
  </div>
</nav>

<div class="container">
<div *ngFor="let image of images | async" class="row-fluid">
  <div class="col-xs-12 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
      <div class="list-group">
          <div class="list-group-item">
              <div class="row-picture">
                  <a href="#" title="sintret">
                      <img class="circle img-thumbnail img-box" src="{{ image.url }}/download" alt="" width="150" height="150">
                  </a>
              </div>
              <div class="row-content">
                  <div class="list-group-item-heading">
                      <a href="#" title="sintret">
                          <small>{{ image.displayName }}</small>
                      </a>
                  </div>
                  <small>
                      <i class="glyphicon glyphicon-time"></i> {{ image.timestamp | date : "short" }} via <span class="message"> <i class="fa fa-message"></i> {{ image.email }}</span>
                  </small>
              </div>
          </div>
      </div>
  </div>
</div>
</div>